/*colors and text*/

$background-color:#f4f4f4;
$background-title:#f4bb04;
$background-white:#FFF;
$background-valid:#fe142f;

$text-color:#777;
$text-color-dark:#000;
$text-color-light:#FFF;



/*breakpoints*/

$breakpoints: (
    mobil-min:425px,
    tablet-min: 768px,
    laptop-min: 1024px,
    laptop-l-min: 1444px,
    laptop-xl-min: 2050px,
);
